.home-slider {
  // background: #6441a5;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// .home-slider-image{
//     left: 15%;
//     position: relative;
// }
